.container {
    padding: 4px 6px;
    margin: auto 1px;
    display: flex;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.container:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name {
    font-size: 1.4rem;
    padding-left: 10px;
}

.active {
    background-color: #7DB46CFF;
    color: white;
}

@media screen and (max-width: 1000px) {
    .name {
        font-size: 1rem;
        padding-left: 2px;
    }
}

@media screen and (max-width: 660px) {
    .name {
        font-size: 0.7rem;
        padding-left: 0;
        text-align: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .name {
        font-size: 0.5rem;
        padding-left: 0;
        text-align: center;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
}