.container {
    min-width: 17vw;
    height: 90vh;
    background-color: #E7EBE0FF;
    position: fixed;
    top: 7vh;
    overflow-y: auto;
    padding: 8px 0;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 10vw;
    }
}