.container {
    max-height: 90vh;
    padding: 20vw;
    font-size: 1.4rem;
    color: rgba(39, 39, 39, 0.952);
    text-align: center;
}

.container p {
    letter-spacing: 5px;
}

@media screen and (max-width: 1000px) {
    .container {
        font-size: 1rem;
    }
}