.container {
    min-height: 90vh;
    overflow-y: auto;
    margin: 2vh 2vw 5vh;
}

.flex-wrapper-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3vw;
}

.flex-wrapper-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vw;
}

.load {
    font-size: 1rem;
    color: rgb(101, 101, 101);
}

@media screen and (max-width: 1000px) {
    .flex-wrapper-list {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 1vh 1vw 1vh;
    }
}