.container {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.container h3 {
    padding: 10px;
}

.link-wrapper {
    width: 100%;
    overflow: hidden;
}

.link-wrapper a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-size: 0.7rem;
}

.logo {
    width: 10vw;
    padding: 12px 0;
}

.picture {
    width: 30vw;
}


@media screen and (max-width: 500px) {
    .container {
        padding: 1px;
    }
    .container h3 {
        padding: 4px;
        font-size: 0.9rem;
    }
}