.container {
    border-bottom: 2px solid lightgrey;
    margin-bottom: 1vh;
}

.container:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.source {
    font-style: italic;
}

@media screen and (max-width: 660px) {
    .container {
        font-size: 0.7rem;
    }
}