.container {
    padding: 0.7vw 0.7vh;
    background-color: #E7EBE0FF;
    width: 20vw;
    text-align: center;
}

.container:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
    width: 6vw;
    padding: 12px 0;
}

.picture {
    width: 10vw;
}

.date {
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: rgb(88, 88, 88);
}

@media screen and (max-width: 660px) {
    .container {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 450px) {
    .container h3 {
        font-size: 0.6rem;
    }
    .container {
        width: 24vw;
    }
}