.container {
    width: 100vw;
    height: 3vh;
    padding: 3px 0;
    background-color: #7DB46CFF;
    display: flex;
    justify-content: center;
    gap: 7vw;
    position: fixed;
    bottom: 0;
}

.time, .length {
    background-color: #E7EBE0FF;
    padding: 2px;
    border-radius: 10px;
    width: 70px;
    align-self: center;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}
