.container {
    max-width: 100vw;
    height: 7vh;
    padding: 0 5vw;
    background-color: #7DB46CFF;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.buttons-wrapper button {
    width: 150px;
    height: 4vh;
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    background-color: #E7EBE0FF;
}

.link {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
    letter-spacing: 9px;
}

@media screen and (max-width: 660px) {
    .link {
        font-size: 1.4rem;
    }
    .buttons-wrapper button {
        width: 100px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 450px) {
    .buttons-wrapper button {
        font-size: 0.5rem;
    }
}