.container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.flex-wrapper {
    display: flex;
}

.container main {
    position: absolute;
    left: 17vw;
    top: 7vh;
}
