.popup {
    position: fixed;
    top: 15vh;
    bottom: 15vh;
    height: auto;
    left: 25%;
    width: 50%;
    height: fit-content;
    z-index: 20;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 2vw 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.content {
    width: 100%;
}

.button {
    width: 150px;
    height: 4vh;
    padding: 0 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 40px;
    background-color: #E7EBE0FF;
}

@media screen and (max-width: 1000px) {
    .popup {
        left: 15%;
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .popup {
        left: 5%;
        right: 5%;
        width: auto;
    }
}